name: play
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  flutter_screenutil: ^0.5.3 #屏幕适配
  fluttertoast: ^3.1.0 #吐司
  shared_preferences: ^0.5.3+4 #SharedPreferences
  event_bus: ^1.1.1
  image_picker: ^0.4.10
  http: ^0.12.0
  flutter_swiper: ^1.1.6
  flutter_webview_plugin: ^0.3.10+1
  pull_to_refresh: ^1.5.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/welcome_bg.jpeg
    - assets/images/ic_head.jpeg
    - assets/images/ic_eye.png
    - assets/images/placeholder.png
    - assets/images/we_chart_mark.jpg
    - assets/images/alipay.jpg
    - assets/images/we_chart_pay.jpg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware. we_chart_mark.jpg

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
